@import "tailwindcss";
@import "aos/dist/aos.css";

@theme {
	--color-Background: #000;
	--color-Purple: #f90303;
	--color-DarkPurple: #d30906;
	--color-Gray: #d9d9d9;
	--color-White: #fff;

	--font-Space: "Space Grotesk";
	--font-Manrope: "Manrope";
}

@custom-variant dark (&:where(.dark, .dark *));
